
h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 36px;
    margin: 0;
}

h3 {
    font-size: 24px;
    margin: 0;
}

h4 {
    font-size: 18px;
    margin: 0;
}

h5 {
    font-size: 16px;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
    font-family: system-ui, sans-serif;
}

.container {
    display: flex;
    width: 1440px;
    background-color: white;
}

.content {
    width: 1111px;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 123px;
    width: 350px;
    height: 40px;
}

header > nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 177px;
    height: 40px;
    font-size: 20px;
}

header main {
    display: flex;
}

header main img {
    position: relative;
    margin-left: 142px;
    margin-bottom: 99px;
    bottom: 150px;
    
}

.gray {
    color: #7E7F86;
}

header main h3  {
    font-weight:500;
}

header main h1 {
    margin-bottom: 20px;
}

.letstalk {
    width: 200px;
    height: 60px;
    border: 0;
    background-color: #8643DC;
    border-radius: 100px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
}

div .sectiontitle {
    font-size: 18px;
    color: #8643DC;
    font-weight: normal;
    margin-bottom: 10px;
}

div .sectionbox {
    background-color: #8643DC;
    width: 50px;
    height: 2px;
    margin-bottom: 15px;
}

.Services {
    margin-bottom: 150px;
}

.Services main {
    display: flex;
    justify-content: space-between;
}

.Services main .item {
    width: 350px;
    height: 203px;
}

.Services main .item .title {
    height: 60px;
}

.Services main .item .title {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}

.Services main .item .title h3 {
    font-weight: 500;
}

.Services main .item .title img {
    margin-right: 20px;
}

.Services main .item .text h5 {
    font-weight: 400;
    line-height: 30px;
}

.Portfolio main {
    display: flex;
    justify-content: space-between;
}

.Portfolio {
    margin-bottom: 168px;
}

.Clients main {
    display: flex;
    justify-content: space-between;
}

.Clients {
    margin-bottom: 159px;
}

.Clients main .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    border-radius: 10px;
    
}

.Clients main .item main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 104px;
}

.Clients main .item main span {
    display: flex;
    justify-content: center;
}

.Testimonials {
    margin-bottom: 167px;
}

.Testimonials main {
    margin-top: 25px;
}

.Testimonials main .quote{
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}

.Testimonials main .quote-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 85px;
    color: #636066;
    margin-bottom: 50px;
}

.Testimonials main h5 {
    display: flex;
    margin: 0 auto;
    font-weight: 500;
}

.Testimonials main span {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.blog {
    display: flex;
}

.blog .left {
    width: 165px;
    height: 331px;
    margin-right: 25px;
}

.blog .right {
    display: flex;
    justify-content: space-between;
    width: calc(921px);
}

.blog .right .item-one {
    width: 350px;
    height: 100%;
}

.blog .right .item-two {
    width: 255px;
    height: 100%;
}
.blog .right .item-three {
    width: 255px;
    height: 100%;
}

.blog .right .item-one .title {
    color: #8643DC;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
}

.blog .right .item-one .text {
    font-size: 20px;
    font-weight: 600;
}